@model MyLibrary.Models.BookUser

@{
    Layout = "_Layout";
    var users = ViewData["Users"] as List<User>;
    var books = ViewData["Books"] as List<Book>;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>BookAuthor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <input asp-for="Id"  type="hidden"/>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control">
                    @foreach (var book in books) {
                        <option label="@book.Name" value="@book.BookId"></option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control">
                    @foreach (var user in users) {
                        <option label="@user.FirstName @user.LastName" value="@user.UserId"></option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
