@using Microsoft.AspNetCore.Identity
@model IEnumerable<MyLibrary.Models.ViewModels.BookAuthorViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-action="Create" class="btn btn-success">Добавить издание</a>
    </p>
}

@using (Html.BeginForm())
{
    <p class="container row">
        <input type="search" class="form-control col-6 m-2 p-1" name="SearchString" placeholder="Искать издание..." style="font-family: Menlo,serif">
        <button type="submit" class="btn btn-success form-control col-auto m-2" style="width: 50px">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg></button>
    </p>
}
<a asp-action="Inventory" class="btn btn-info col-12">Инвентаризация</a><br>
<table class="table col-auto">
    <thead>
    <tr>
        <th>
            Картинка
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="name">Название</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="author">Автор</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="isbn">ISBN-10</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="publisher">Издательство</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="type">Тип</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="lang">Язык</a>
            
        </th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
        
            <td>
                <img src="@item.Image" alt="Ошибка: Изображение не найдено!" class="img-fluid card-img shadow-lg" style="width: 150px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <p style="word-wrap: break-word;width: 130px">
                    @Html.DisplayFor(modelItem => item.ISBN)
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
        

            <td>
                <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-info col-12">Выбрать</a><br>
                <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-primary col-12">Изменить</a><br>
                <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger col-12">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
